<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Post Page</title>
    <meta name="description" content="Post page.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/medium.css">
    <link rel="stylesheet" href="../css/large.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dancing+Script:wght@500&family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
    <header>
       
    </header>

    <nav class="nav-items">
        <a class="active" href="../index.html">Home</a>
        <a href="./views/post.html">Post</a>
        <a href="">Profile</a>
    </nav>

    <main id="post-main">
      <div id="post-form">
        <h1>Create new recipe</h1>
        <div>
          <label for="name">Recipe Name: </label>
          <input type="text" name="name" id="name" required>
        </div>
        <div>
          <label for="ingredients">Ingredients: </label>
          <div id="ingredients-div">
            <input type="text" name="ingredients" id="ingredients" class="ingredients-div">
            <button class="add-button">Add</button>
          </div>
        </div>
        <div>
            <label for="instructions">Instructions: </label>
            <div id="instructions-div">
              <input type="text" name="instructions" id="instructions" class="instructions-div" required>
              <button class="add-button">Add</button>
            </div>
        </div>
        <div>
            <label for="imageLink">Image Link: </label>
            <input type="text" name="imageLink" id="imageLink">
        </div>
        <div>
            <label for="keywords">Key Words: </label>
            <div id="keywords-div">
              <input type="text" name="keywords" id="keywords" class="keywords-div" required>
              <button class="add-button">Add</button>
            </div>
        </div>
        <div id="save-div">
          <input type="hidden" name="userId" value="1234">
          <!-- <input type="submit" value="Save" id="save-button"> -->
          <button id="save-button">Save Recipe</button>
        </div>
      </div>
    </main>

    <footer>
      
    </footer>

    <script src="../js/post.js"></script>

</body>

</html>